<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Cuenta bloquada.</h1>
    <p class="parrafoError"> La cuenta <b>{{view.correo}}</b> se encuentra bloqueada en nuestros sitemas.<br>
    Este proceso nos obliga a no enviar mas correo desde cuentas de la facultad.<br>
    Por favor contactarse con <a href='http://issues.econo.unlp.edu.ar/publico/index.html#!/pedido_ditesi/pedido'>DiTeSI</a>,
    caso contrario la cuenta <b>{{view.usuario.correo.email}}</b> seguirá bloqueada y no se enviará correo desde cuentas institucionales de la facultad.
    <p><br>
  </div>
</div>
