<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Código Incorrecto.</h1>
    <p class="parrafoError"> El código ingresado es incorrecto, Chequee nuevamente su cuenta <b>{{view.usuario.correo.email}}</b> y asegúrese de que el código ingresado es el indicado en
    el último correo recibido.<br>Recuerde verificar también los correos clasificados como "Correo Basura" o "Spam".<br>
    Si el problema se reitera por favor comuníquese con DiTeSI haciendo <a href='#'>clic aquí</a></p><br>
    <md-button class="md-raised md-primary" ng-click='ingrese_codigo()' >volver</md-button>
  </div>
</div>
