<div class="cambioDeclave fdc fac">
    <div>
      <h1> Cambio de clave </h1><hr>
      <div>
          <form>
              <div class="form-group fdr"><input class="form-control" placeholder="Ingrese nueva clave" type='{{view.tipo}}' ng-model='view.clave1'></input>

                <md-button class="md-icon-button md-primary" ng-click='cambiarTipo()' title="Reenviar Código">
                  <i ng-if='view.tipo == "password"' class="material-icons">visibility</i>
                  <i ng-if='view.tipo == "text"' class="material-icons">visibility_off</i>
                </md-button>

              </div>
              <div class="form-group fdr"><input class="form-control" placeholder="Repita la nueva clave" type='{{view.tipo}}' ng-model='view.clave2'></input>
                <md-button class="md-icon-button md-primary" ng-click='cambiarTipo()' title="Reenviar Código">
                  <i ng-if='view.tipo == "password"' class="material-icons">visibility</i>
                  <i ng-if='view.tipo == "text"' class="material-icons">visibility_off</i>
                </md-button>
              </div>

              <div class="">
                <md-button class="md-raised md-primary" ng-click='cambiarClave()'>GUARDAR</md-button>
              </div>
         </form>
         <div class="contenedorErrorInterno" ng-if='view.clave1 != view.clave2' class='error'>
           <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></b> La contraseña no coincide
         </div>
         <div class="contenedorErrorInterno" ng-if='view.clave1 != view.clave2' class='error'>
           <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></b> La contraseña no cumple con los <br> requisitos
         </div>
         <hr>
      </div>

      <div>
          <b><i class="fa fa-info-circle" aria-hidden="true"></i></b> Requisitos de contraseña:<br>
          <div class=requisitosContrasena>
            <i class="fa fa-angle-right" aria-hidden="true"></i> Tener una longitud mínima de 8 caracteres.<br>
            <i class="fa fa-angle-right" aria-hidden="true"></i> Estar compuesta de forma alfanumérica<br>
            (letras y números)
          </div>

      </div>
    </div>
</div>
