
.perfil > div {
  visibility: hidden;
}

.perfil .pantalla_error > div {
  visibility: hidden;
}

.perfil .pantalla_mensaje > div {
  visibility: hidden;
}

.perfil.EstadoPerfil  .edicion_perfil {
  visibility: visible;
}

.perfil.error.ErrorCorreo .error_correo {
  visibility: visible;
}

.perfil.error.ErrorEnviando .error_correo {
  visibility: visible;
}

.perfil.error.ErrorEnviandoConfirmacion .error_enviando_confirmacion {
  visibility: visible;
}

.perfil.error .pantalla {
  visibility: hidden;
}

.perfil.error .pantalla_error {
  visibility: visible;
}


.perfil.mensaje .pantalla {
  visibility: hidden;
}

.perfil.mensaje .pantalla_mensaje {
  visibility: visible;
}

.perfil.mensaje.MensajeGuardadoConExito .cambios_guardados_con_exito {
  visibility: visible;
}

.perfil.mensaje.MensajeCargando .mensaje_cargando {
  visibility: visible;
}





.perfil .area_de_corte {
  visibility: hidden;
}

.perfil .acciones .cortar_imagen {
  visibility: hidden;
}

.perfil .cambiando_imagen .area_de_corte {
  visibility: visible;
}

.perfil .cambiando_imagen .acciones .cortar_imagen {
  visibility: visible;
}

.perfil .cambiando_imagen .acciones .cambiar_imagen {
  visibility: hidden;
}

.perfil .cambiando_imagen .area_de_imagen {
  visibility: hidden;
}
