<div>
    {{mensaje}}
    {{parm}}
</div>
<div>
  <div>Nombre</div>
  <input ng-model='usuario.nombre'></input>
</div>
<div>
  <div>Apellido</div>
  <input ng-model='usuario.apellido'></input>
</div>
<div>
  <div>Dni</div>
  <input ng-model='usuario.dni'></input>
</div>
<div>
    <button ng-click='actualizarUsuario(usuario)'>Actualizar</button>
</div>
<div>
  <div>Correos de contacto</div>
  <ol ng-repeat='m in correos'>
    <li>
      <span>{{m.id}}</span>
      <span>{{m.email}}</span>
      <span>{{m.confirmado}}</span>
      <span>{{m.hash}}</span>
      <span><button ng-click='eliminarCorreo(m)'>Eliminar</button></span>
      <span><button ng-click='confirmarCorreo(m)'>Confirmar</button></span>
    </li>
  </ol>
  <div>
    Agregar:<input type='email' ng-model='emailAAgregar'></input>
    <button ng-click='agregarCorreo()'>Agregar</button>
  </div>


</div>
