.perfil {
padding: 20px;
}

.perfil .form-control {
width: 300px;
}

input {
  /*margin-bottom: 5px;*/
}

hr {
  margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
  /*margin-top: 5px;*/
}

.titulo {
  color: #9D9D98;
}

.contentMails {
  margin-left: 40px;
}

.statusMailConfirmed {
  font-size: 10px;
font-style: normal;
font-weight: normal;
}


.perfil .contentPrimary {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.a {
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
.b {
  background-color: #e0dede;
  margin-bottom: 20px;
}
.c {
  background-color: #bcbcbc;
  margin-bottom: 20px;
}

.aling {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}



@media screen and (max-width: 769px) {
  .perfil .form-control {
  width: 100%;
  }
  .perfil .contentPrimary {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
  }
  .contentMails {
    margin-top: 20px;
    margin-left: 0px;
  }
}
