.perfil {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  grid-template-areas:
    " perfil mails ";
}



/* --------------------------------------------------- */

.perfil .avatar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contenido";
  align-items: center;
  justify-items: center;
}


.perfil .area_de_corte {
  grid-area: contenido;
  width: 100%;
  height: 100%;
}

.perfil .area_de_imagen {
  grid-area: contenido;
  width: 100%;
  height: 100%;
}


.perfil .acciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contenido";
}

.perfil .acciones .cortar_imagen {
  grid-area: contenido;
}

.perfil .acciones .cambiar_imagen {
  grid-area: contenido;
}



/* ----------------------------------------------------- */




@media screen and (max-width: 769px) {
  .perfil .edicion_perfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      " perfil "
      " mails ";
  }

}




.perfil .itemsMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.perfil .mail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
}


.perfil .actions {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}


.perfil .estiloError {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  height: 100%;
}
