
.perfil > div {
  display: none;
}

.perfil .pantalla_error > div {
  display: none;
}

.perfil .pantalla_mensaje > div {
  display: none;
}

.perfil.mensaje .pantalla_mensaje {
  display: block;
}

.perfil.mensaje.MensajeGuardadoConExito .cambios_guardados_con_exito {
  display: block;
}

.perfil.mensaje.MensajeCargando .mensaje_cargando {
  display: block;
}

.perfil.EstadoCambioClave .cambio_clave {
  display: block;
}

.perfil.EstadoPerfil.error.ErrorCorreo .error_correo {
  display:block;
}

.perfil.EstadoPerfil.error.ErrorEnviando .error_correo {
  display:block;
}

.perfil.EstadoPerfil.error.ErrorEnviandoConfirmacion .error_enviando_confirmacion {
  display:block;

}

.perfil.CambiarClave .cambiar_clave {
  display: block;
}

.perfil.error .pantalla {
  display: none;
}

.perfil.error .pantalla_error {
  display: block;
}

.perfil.mensaje .pantalla {
  display: none;
}




/* -------------------------------------------  */

.perfil .edicion_perfil {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
    " perfil mails ";
}

@media screen and (max-width: 769px) {
  .perfil .edicion_perfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      " perfil "
      " mails ";
  }

}

.perfil .datos_perfil {
  grid-area: perfil;
  align-self: start;
  justify-self: center;
  border-color: red;
}

.perfil .datos_mails {
  grid-area: mails;
  align-self: start;
  justify-self: start;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 30fr 30fr 2fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
    "titulo"
    "institucionales"
    "alternativos"
    "agregar";
}

.perfil .datos_mails .titulo {
  grid-area: titulo;
}

.perfil .datos_mails .institucionales {
  grid-area: institucionales;
  align-self: start;
  justify-self: start;
  height: 100%;
  border: 1px solid black;
}

.perfil .datos_mails .alternativos {
  grid-area: alternativos;
  align-self: start;
  justify-self: start;
  height: 100%;
  border: 1px solid black;
}

.perfil .datos_mails .agregar {
  grid-area: agregar;
}



.perfil .avatar {
  height: 300px;
  width: 300px;
  border-color: blue;
  background: red;
}





.perfil .btnSave {
  margin-top: 5px;
}

.perfil .btnPrimario {
  background-color: #0066a6 ;
  color: white;
}
.perfil .btnPrimario:hover {
  background-color: #075382 ;
}

.perfil .labelConfirmed {
  background-color: #92AD17;
}

.perfil .labelSinConfirmar {
  background-color: #E43E46;
}

.perfil .inputData {
  width: 400px;
  margin-bottom: 5px;
}

.perfil input {
  /*margin-bottom: 5px;*/
}

.perfil hr {
  margin-top: 10px;
    margin-bottom: 10px;
}

.perfil .titulo {
  color: #9D9D98;
}

.perfil .statusMailConfirmed {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}


.perfil .a {
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
.perfil .b {
  background-color: red;
  margin-bottom: 20px;
}
.perfil .c {
  background-color: orange;
  margin-bottom: 20px;
}

.perfil .contentItemMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.perfil .itemsMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding-left:10px;
  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.perfil .mail {
  width: 400px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  height: 34px;

}

.perfil .btnTrash {
  background-color: #eee;
  border-left: 1px solid #ccc;
}

.perfil .btnTrash:hover {
  color: white;
  background-color: #E43E46;
}

.perfil .btnReenviar {
  background-color: #eee;
  border-left: 1px solid #ccc;

}

.perfil .btnReenviar:hover {
  background-color: #92AD17;
  color: white;
}

.perfil .btnReenviar2 {
  background-color: #89393c;
}

.perfil .btnReenviar2:hover {
  background-color: #383838;
  color: white;
}

.perfil .actions {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.perfil .flechaCode {
  color: #E43E46;
  margin-left: 10px;
  margin-top: -10px;

}

.perfil .contentCode {
  border-radius: 4px;
  padding: 10px;
  background-color: #E43E46;
  color: white;
  margin-top: -19px;
}

.perfil .contentSinCorreo {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #eee;
  border-left: 5px solid #E43E46;
  color: #E43E46;
  background-color: #EEEEEE;
}

.perfil .inputCode {
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.perfil .btnConfirmar {
  background-color: #222222;
  color: white;
  height: 32px;
}

.perfil .btnConfirmar:hover {
  background-color: #383838;
}

.perfil .btnAgregarCorreo {
  background-color: #92AD17;
  color: white;
}

.perfil .inputMail {
    width: 400px;
}

.perfil .iconosErrores {
  font-size: 200px;
  color: #c4c4c4;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

.perfil .estiloError {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  height: 100%;
}

.perfil .btnVolver {
  background-color: #adadad ;
  color: white;
  margin-bottom: 30px;
}
.perfil .btnVolver:hover {
  background-color: #222222 ;
  color: white;
}
