
.perfil > div {
  display: none;
}

.perfil .pantalla_error > div {
  display: none;
}

.perfil .pantalla_mensaje > div {
  display: none;
}

.perfil.mensaje .pantalla_mensaje {
  display: block;
}

.perfil.mensaje.MensajeGuardadoConExito .cambios_guardados_con_exito {
  display: block;
}

.perfil.mensaje.MensajeCargando .mensaje_cargando {
  display: block;
}


.perfil.EstadoPerfil .edicion_perfil {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

.perfil.EstadoCambioClave .cambio_clave {
  display: block;
}

.perfil.EstadoPerfil.error.ErrorCorreo .error_correo {
  display:block;
}

.perfil.EstadoPerfil.error.ErrorEnviandoConfirmacion .error_enviando_confirmacion {
  display:block;
}


.perfil.CambiarClave .cambiar_clave {
  display: block;
}


.perfil.error .pantalla {
  display: none;
}

.perfil.mensaje .pantalla {
  display: none;
}


/* -------------------------------------------  */

.perfil .pantalla {
  padding: 20px;
}

.perfil .btnSave {
  margin-top: 5px;
}

.perfil .btnPrimario {
  background-color: #0066a6 ;
  color: white;
}
.perfil .btnPrimario:hover {
  background-color: #075382 ;
}

.perfil .labelConfirmed {
  background-color: #92AD17;
}

.perfil .labelSinConfirmar {
  background-color: #E43E46;
}

.perfil.error .pantalla_error {
  display: block;
  padding: 0;
  margin: 0;
  /*position: absolute;*/
  background: red;
  width: 100%;
  height: 100%;
}


.perfil .inputData {
  width: 400px;
  margin-bottom: 5px;
}

.perfil input {
  /*margin-bottom: 5px;*/
}

.perfil hr {
  margin-top: 10px;
    margin-bottom: 10px;
}

.perfil .titulo {
  color: #9D9D98;
}

.perfil .contentMails {
  margin-left: 40px;
}

.perfil .statusMailConfirmed {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}


.perfil .edicion_perfil {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.perfil .a {
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
.perfil .b {
  background-color: red;
  margin-bottom: 20px;
}
.perfil .c {
  background-color: orange;
  margin-bottom: 20px;
}

.perfil .aling {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.perfil .contentItemMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.perfil .itemsMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding-left:10px;
  margin-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.perfil .mail {
  width: 400px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  height: 34px;

}

.perfil .btnTrash {
  background-color: #eee;
  border-left: 1px solid #ccc;
}


.perfil .btnTrash:hover {
  color: white;
  background-color: #E43E46;
}

.perfil .btnReenviar {
  background-color: #eee;
  border-left: 1px solid #ccc;

}

.perfil .btnReenviar:hover {
  background-color: #92AD17;
  color: white;
}

.perfil .actions {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.perfil .flechaCode {
  color: #E43E46;
  margin-left: 10px;
  margin-top: -10px;

}

.perfil .contentCode {
  border-radius: 4px;
  padding: 10px;
  background-color: #E43E46;
  color: white;
  margin-top: -19px;
}

.perfil .inputCode {
  margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.perfil .btnConfirmar {
  background-color: #222222;
  color: white;
  height: 32px;
}

.perfil .btnConfirmar:hover {
  background-color: #383838;
}



@media screen and (max-width: 769px) {
  .perfil .inputData {
  width: 100%;
  }
  .perfil .pantalla {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
  }
  .perfil .contentMails {
    margin-top: 20px;
    margin-left: 0px;
  }
}
