* {
  box-sizing: border-box;
}

.perfil {
  height: 100%;

}

.perfil .editarPerfil {
  height: 100%;
  /*padding: 20px;*/
  /*background-color: red;*/
  display: grid;
  grid-template-columns: 20% 35% 40%;
  grid-template-rows: 1fr;
  /*grid-row-gap: 20px;
  grid-column-gap: 40px;*/
  grid-template-areas:
    "foto perfil mails ";
}

.perfil .contenedorPerfil {
  height: 100%;
  /*background-color: blue;*/
}



/* --------------------------------------------------- */

.perfil .avatar {
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contenido";
  align-items: center;
  justify-items: center;*/
}

.perfil .contenedorAreaDeCorte {
  width: 100%;
  height: calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top:0;
  left: 0;
  display: none;
  z-index: 999;
}

.perfil .cambiando_imagen .contenedorAreaDeCorte {
  display: block;
}


.perfil .area_de_corte {
  margin: auto;
  margin-top: 75px;
  width: 60%;
  height: 70%;
  display: none;
  background-color: black;
}

.perfil .cambiando_imagen .area_de_corte {
  display: block;
}

.perfil .imgAreaDeCorte {
}

.perfil .area_de_imagen {
  /*grid-area: contenido;*/
  width: 85%;
  height: 85%;
  margin: 0 auto;
}

.perfil .imgAvatar {
  border-radius: 5px;
}


.perfil .cortar_imagen {
  margin-top: 5px;
}

.perfil .cambiar_imagen {
  /*grid-area: contenido;*/
}

.perfil .contendedorDeImagen {
  margin-bottom: 20px;
}




/* ----------------------------------------------------- */







.perfil .itemsMail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.perfil .actions {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  height: 34px;
}


.perfil .estiloError {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  height: 100%;
}



.perfil img {
  width: 100%;
  height: 100%;
  display: block;
}

.perfil img-crop {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.perfil canvas {
  /*width: 100%;
  height: 100%;*/
  margin: 0 !important;
  display: block;
}





/* ----------------------------------------------- */


.perfil .btnSave {
  margin-top: 5px;
}


/*---------------------------------------------------------*/


.perfil .inputData {
  width: 400px;
  margin-bottom: 5px;
}


.perfil hr {
  margin-top: 10px;
    margin-bottom: 10px;
}

.perfil .titulo {
  color: #9D9D98;
}

.perfil .statusMailConfirmed {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}


.perfil .a {
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
.perfil .b {
  background-color: red;
  margin-bottom: 20px;
}
.perfil .c {
  background-color: orange;
  margin-bottom: 20px;
}



.perfil .flechaCode {
  color: #F44336;
  margin-left: 10px;
  margin-top: -10px;

}

.perfil .contentCode {
  border-radius: 4px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #F44336;
  margin-top: -18px;
  border:1px solid #F44336;
  margin-bottom: 10px;

}

.perfil .contentSinCorreo {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #eee;
  border-left: 5px solid #E43E46;
  color: #E43E46;
  background-color: #EEEEEE;
}

.perfil .inputCode {
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.perfil .itemsMail {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.perfil .mail {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  width: 100%;
  /*width: 400px;*/
  /*height: 34px;*/
}


.perfil .btnConfirmar {
  background-color: #222222;
  color: white;
  height: 32px;
}

.perfil .btnConfirmar:hover {
  background-color: #383838;
}

.perfil .btnAgregarCorreo {
  background-color: #222222;
  color: white;
  /*height: 32px;*/
  margin-bottom: 20px;
  border-radius: 0 4px 4px 0;

}

.perfil .btnAgregarCorreo:hover {
  background-color: #383838;
}


.perfil .inputMail {
    width: 100%;
    border-right: none;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    color: #222222;
}

.perfil .miCorreo {
  font-weight: bold;
  color: #222222;
}




.perfil .btnVolver {
  background-color: #777777 ;
  color: white;
  margin-bottom: 30px;
}
.perfil .btnVolver:hover {
  background-color: #222222 ;
  color: white;
}

.separadorVertical hr {
  color: red;
}



.perfil .contenedor {
  height: 100%;
}


.perfil .NombreInput {
  background-color: #EFF0F1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 150px;
}

.perfil .mailInput {
  background-color: #EFF0F1;
  padding: 6px;
  border-right: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 150px;
}

.perfil .inputFormulario {
  border-left: none;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
  color: #222222;
}

.perfil .contenedorFoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2d2d2d;;
  /*background-color: #804080;*/
  padding: 20px;
}

.perfil .contendorDatos {
  padding: 20px;
}

.perfil .contenedorMails {
  padding: 20px;
}

.perfil .contenedorFoto h4 {
  color: #EEEEEE;
}

.perfil .contenedorFoto hr {
  border: solid 1px #222222;
}

.perfil .btnGuardar {
  width: 95%;
  margin-bottom: 20px;
  height: 50px;
}

.perfil .contendorLinks {
padding-left: 5px;
}

.perfil .contendorLinks a {
  color: #9d9d9d;
  cursor: pointer;
}

.perfil .contendorLinks a:hover {
  color: white;
}

.perfil .btnEliminarCorreo {
  padding: 0px !important;
}

.perfil .contenedorNombre {
  width: 100%;
}

.perfil .nombreDeUsuario {
  color:#EEEEEE;
  font-weight: bold;
  font-size: 1.2em;
}

.perfil .btnCambiarImagen {
  margin: 0 auto;
}






@media screen and (max-width: 769px) {

  .perfil .editarPerfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      " perfil "
      " mails ";
  }

  .perfil .area_de_imagen {
    /*grid-area: contenido;*/
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }



  .perfil .contendorLinks {
    display: none;
  }

  .perfil h4 {
    /*margin: 0 auto;*/
  }

 .perfil .mailInput {
   background-color: #EFF0F1;
   padding: 6px;
   border-right: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   width: 80px;
   font-size: 12px;
 }
 .perfil .miCorreo {
   font-size: 12px;
 }

}
