<div class='datos_perfil'>

    <h4>PERFIL DE USUARIO</h4><hr>

    <!-- imagen -->
    <div class='avatar {{view.cambiando_imagen_estilo}}'>
        <div class="fdr">
            <div class='area_de_imagen'>
                <img ng-src='{{model.avatar}}'></img>
            </div>
            <div>
              <md-button class="md-raised md-button" ng-click="cambiar_imagen();" ngf-select ng-model="picFile" accept="image/*">Cambiar imagen</md-button>
            </div>
        </div>

        <div class="contenedorAreaDeCorte fdr fac">
            <div class='area_de_corte'>
              <img-crop class="imgAreaDeCorte" image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
            </div>
            <div class="fdr fjc">
              <button class='btn btnPrimary cortar_imagen' ng-click="subir_avatar(croppedDataUrl, picFile.name);"><i class="fa fa-scissors" aria-hidden="true"></i> Cortar Imagen</button>
          </div>
        </div>
    </div><hr>

    <b>Nombre</b><input ng-model='model.usuario.nombre' class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>
    <b>Apellido</b><input ng-model='model.usuario.apellido' class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>
    <b>DNI</b><input ng-model='model.usuario.dni' readonly=true class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>
    <b>Legajo</b><input value='2806/4' readonly=true class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>

    <md-button class="md-raised md-primary" ng-click='actualizarUsuario(model.usuario)'>GUARDAR CAMBIOS</md-button>


</div>
