<div class='datos_perfil'>

  <div class="titulo">PERFIL DE USUARIO</div><hr>

    <!-- imagen -->
    <div class='avatar {{view.cambiando_imagen_estilo}}'>
        <div class='area_de_corte'>
          <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
        </div>

        <div class='area_de_imagen'>
            <img ng-src='{{model.avatar}}'></img>
        </div>
        <div class='acciones'>
          <button class='cortar_imagen' ng-click="subir_avatar(croppedDataUrl, picFile.name);">Cortar</button>
          <button class='cambiar_imagen' ngf-select ng-model="picFile" accept="image/*" ng-click="cambiar_imagen();">Cambiar</button>
        </div>
    </div>
    <!--  -->

    <div>
      <b>Nombre</b>
      <input ng-model='model.usuario.nombre' class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>
    </div>

    <b>Apellido</b>
    <input ng-model='model.usuario.apellido' class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>

    <b>DNI</b>
    <input ng-model='model.usuario.dni' readonly=true class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>

    <b>Legajo</b>
    <input value='2806/4' readonly=true class="inputData form-control ng-pristine ng-valid ng-empty ng-touched"></input>

    <div>
        <button ng-click='actualizarUsuario(model.usuario)' class="btn btnSave btnPrimario">GUARDAR CAMBIOS</button>
    </div>
</div>
