.reset_clave {
  height: 100%;
}

.reset_clave .ingrese_dni,
.reset_clave .ingrese_codigo,
.reset_clave .ingrese_clave,
.reset_clave .cambio_de_clave_exitoso {
  height: 100%;
}

.reset_clave .subContenedor {
  width: 50%;
  padding: 40px;
}

.reset_clave h2 {
  margin-top: -10px;
  margin-bottom: 20px;
}

.reset_clave .linea {
  width: 100px;
  height: 2px;
  background-color: #333333;
}

.reset_clave .colorActivo {
  background: #1E88E5;
}

.reset_clave .colorActivo2 {
  color: #1E88E5;
}

.reset_clave .colorDesactivado {
  background: #ccc;
}

.reset_clave .colorDesactivado2 {
  color: #ccc;
}

.reset_clave .formulario {
  width: 50%;
  margin-top: 40px;
}

.reset_clave .formularioCodigo {
  width: 50%;
  margin-top: 20px;
}

.reset_clave .parrafo {
  width: 95%;
  margin-top: 20px;
  text-align: justify;
    text-justify: inter-word;
}

.reset_clave .parrafoError {
  text-align: justify;
    text-justify: inter-word;
}

.reset_clave .inputResetClave {
    width: 100%;
    border: 1px solid #e0dede;
    background-color: #EEEEEE;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

.reset_clave .contenetInputClave {
  width: 100%;
  border: 1px solid #e0dede;
  background-color: #EEEEEE;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 5px;
}

.reset_clave .inputClave {
  padding: 8px;
  width: 100%;
  border: none;
  /*height: 40px;*/
  background-color: #EEEEEE;
  font-size: 25px;
  text-align: center;

}

.reset_clave .btnSistema {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.reset_clave .textoParrafo {
   color: #0066A6;

}

.reset_clave .botonn {
}

.reset_clave .contenedorVolver {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .reset_clave .linea {
    width: 33px;
  }
  .reset_clave .formulario,
  .reset_clave .formularioCodigo {
    width: 90%;
  }
  .reset_clave .subContenedor {
    width: 100%;
    padding: 20px;
  }
  .reset_clave .textoParrafo {
    display: none;
  }
  .reset_clave .requisitosClave {
    display: none;
  }


}
