<div class="header ng-scope">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars iconoHamburguesa" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand menuLeft">
        <div><img class=icoHeader src="img/icono_sistema_usuarios.gif" alt="" height="27" width="30"></div>
        <div><a> Usuarios FCE</a></div>
      </div>
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed &amp;&amp; 'in'">
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown="" class="dropdown">
          <a uib-dropdown-toggle="" href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> {{view.usuario.name}} {{view.usuario.family_name}} <span class="caret"></span></a>
          <ul uib-dropdown-menu="" class="dropdown-menu">
            <!-- <li ng-click="cambiarClave()"><i class="fa fa-key" aria-hidden="true"></i> Cambiar Contraseña</li> -->
            <li ng-click="salir()"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
