.header {
    background-color: #222;
    border-color: #080808;
}

.header .menuLeft {
 display:flex;
 flex-direction: row;
 align-items: center;
}

.header .icoHeader {
  margin: 0 10px 0 18px;
}


.header .navbar-brand {
  text-decoration: none;
  text-shadow: 0;
  padding: 0px 0px;
}

.header a, a:hover {
    color: #9d9d9d;
    text-decoration: none;
}


.header .dropdown-menu {
  padding: 0px;
}

.header .dropdown-menu li {
  /*height: 50px;*/
  color:#9d9d9d;
  padding: 10px;
  width: 200px;
}

.header .dropdown-menu li:hover {
  background-color: #222222;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.header .iconoHamburguesa {
  color: #eeeeee;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #2d2d2d;
  color: white;
  border: none;

}


.nav>li>a:focus, .nav>li>a:hover {
     background-color: #2D2D2D;
}
