
  <div>
    Se ha registrado con éxito el cambio de contraseña.
    Recuerde cambiarla en todos los dispositivos que utilice. Por ejemplo clientes de correo como outlook, datos de conexión en el celular, etc
    No olvide mantener actualizado sus datos <a href='#'>aquí</a> ya que serán requeridos por distintas áreas de la facultad.
    Si tiene alguna consulta puede comunicarse con DiTeSI mediante el siguiente <a href='#'>enlace</a>
    Gracias por utilizar nuestros servicios.
    Atte
    Equipo de desarrollo DiTeSI
  </div>
