<div class="cambio_de_clave_exitoso fdc fac">
  <div class="subContenedor fdc fac">
      <div class="fdc fac">
          <div>
              <p>¿Haz olvidado tu contraseña?</p>
              <h2>Recuperar contraseña</h2>
          </div>
      </div>
      <div class="fdr fac">
        <div class="linea colorActivo"></div>
        <i class="material-icons colorActivo2">looks_one</i>
        <div class="linea colorActivo"></div>
        <i class="material-icons colorActivo2">looks_two</i>
        <div class="linea colorActivo"></div>
        <i class="material-icons colorActivo2">looks_3</i>
        <div class="linea colorActivo"></div>
        <i class="material-icons colorActivo2">looks_4</i>
        <div class="linea colorActivo"></div>
      </div>
      <div class="parrafo">
        <h4> Se ha registrado con éxito el cambio de contraseña.</h4>
        <p>
          Recuerde cambiarla en todos los dispositivos que utilice. Por ejemplo clientes de correo como outlook, datos de conexión en el celular, etc
          No olvide mantener actualizado sus <a href='http://usuarios.econo.unlp.edu.ar'><b>datos</b></a> ya que serán requeridos por distintas áreas de la facultad.<br>
          Si tiene alguna consulta puede comunicarse con DiTeSI a través del siguiente <a href='http://issues.econo.unlp.edu.ar/publico/index.html#!/pedido_ditesi/pedido'><b>formulario</b></a>
          Gracias por utilizar nuestros servicios.<br>
          Atte.Equipo de desarrollo DiTeSI.
        </p>
      </div>
  </div>
</div>
