<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Error al enviar código.</h1>
    <p class="parrafoError">   No se pudo enviar el código a la cuenta <b>{{view.usuario.correo.email}}</b>,
      por favor intente nuevamente en unos minutos.
      Si el problema se reitera comuníquese con DiTeSI haciendo <a href='#'>clic aquí</a></p>.<br>
    <md-button class="md-raised md-primary" ng-click='limpiarError()' >Volver</md-button>
  </div>
</div>
