<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Contraseña no permitida.</h1>
    <p class="parrafoError"> El formato de contraseña no es permitido. Por favor chequee las restricciones impuestas sobre los caracteres y longitud permitidas para la contraseña.<br>
        Si el problema se reitera por favor comuníquese con DiTeSI haciendo <a href='#'>clic aquí</a>.<br>
        <hr>
        <b><i class="fa fa-info-circle" aria-hidden="true"></i></b> Requisitos de contraseña:<br>
            <i class="fa fa-angle-right" aria-hidden="true"></i> Tener una longitud mínima de 8 caracteres.<br>
            <i class="fa fa-angle-right" aria-hidden="true"></i> Estar compuesta de forma alfanumérica (letras y números)
    <p><br>
    <md-button class="md-raised md-primary" ng-click='limpiarError()' >volver</md-button>
  </div>
</div>
