<div class='pantalla_error error_de_codigo'>
  El código ingresado es incorrecto!!.
  Chequee nuevamente su cuenta {{view.usuario.correo.email}} y asegúrese de que el código ingresado es el indicado en
  el último correo recibido.
  Tenga en cuenta que tendrá tantos correos como intentos de recuperar su clave.
  Recuerde verificar también los correos clasificados como "Correo Basura" o "Spam"
  Si el problema se reitera por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a>
  <button ng-click='limpiarError()'>Anterior</button>
</div>
