
  <div class='pantalla_error correo_bloqueado'>
    La cuenta {{view.correo}} se encuentra bloqueada en nuestros sitemas debido a que ha indicado que el correo recibido de alguna de las áreas de
    la facultad es "Correo No Deseado".
    Este proceso nos obliga a no enviar mas correo desde cuentas de la facultad.
    Para poder continuar debe indicar que todo el correo recibido de la facultad NO es "Correo no Deseado" y contactarse
    con DiTeSI <a href='#'>aqui</a>
    Caso contrario la cuenta {{view.usuario.correo.email}} seguirá bloqueada y no se enviará correo desde cuentas institucionales de la facultad.
  </div>
