<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Límite Superado.</h1>
    <p class="parrafoError">   Ha superado el límite de intentos de verificación.<br>
    Este incidente ha sido registrado y se ha enviado un reporte al equipo de seguridad de DiTeSI,<br>
    así como también un correo a la cuenta <b>{{view.usuario.correo.email}}</b> con un informe del incidente y pasos a seguir.<br></p><br>
    <md-button class="md-raised md-primary" ng-click='limpiarError()' >Finalizar</md-button>
  </div>
</div>
