<div class='pantalla_error expirado'>
    Por razones de seguridad se impone un límite de tiempo razonable para completar el proceso de recuperación.
    Ha superado este tiempo. Por lo que debe iniciar el proceso nuevamente.
    Tenga en cuenta que la cantidad de intentos de recuperación se registra, se informa y se evalúa para evitar ataques.
    Para iniciar nuevamente el intento de recuperación de la clave por favor acceda al siguiente <a href='#!/reset_clave'>enlace</a>
    Si desea comunicarse con DiTeSI para reportar un problema puede hacerlo mediante el siguiente <a href='#'>enlace</a>
    Atte
    Equipo de desarrollo de DiTeSI
</div>
