<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Cuenta bloquada.</h1>
    <p class="parrafoError"> La cuenta <b>{{view.correo}}</b> se encuentra bloqueada en nuestros sitemas debido a que ha indicado que el correo recibido de alguna de las áreas de
    la facultad es "Correo No Deseado".<br>
    Este proceso nos obliga a no enviar mas correo desde cuentas de la facultad.<br>
    Para poder continuar debe indicar que todo el correo recibido de la facultad NO es "Correo no Deseado" y contactarse con DiTeSI haciendo <a href='#'>clic aquí</a>,
    caso contrario la cuenta <b>{{view.usuario.correo.email}}</b> seguirá bloqueada y no se enviará correo desde cuentas institucionales de la facultad.
    <p><br>
    <md-button class="md-raised md-primary" ng-click='limpiarError()' >Finalizar</md-button>
  </div>
</div>
