
  <div class='pantalla_error usuario_bloqueado'>
    El dni {{view.dni}} ha sido usado para recuperar la clave demasiadas veces.
    Esto puede ocurrir cuando se sufren ataques sobre las seguridades del sistema.
    Se ha reportado el incidente al equipo de seguridad de la facultad, asi como también se ha enviado un
    informe a la cuenta alternativa de la persona titular de la cuenta.
    Si cree que esto es un error, puede comunicarse con DiTeSI usando el siguiente <a href='#'>enlace</a>
    Atte Equipo de desarrollo de DiTeSI
  </div>
