<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Se ha producido un error.</h1>
    <p class="parrafoError"> Ocurrió un problema cambiando su clave, el incidente se ha registrado y se ha informado al equipo de desarrollo de DiTeSI.<br>
    Por favor reintente nuevamente el proceso, si el problema se reitera por favor comuníquese con DiTeSI a través del siguiente formulario: <a href='http://issues.econo.unlp.edu.ar/publico/index.html#!/pedido_ditesi/pedido'>http://issues.econo.unlp.edu.ar/publico/index.html#!/pedido_ditesi/pedido</a>.<br>
    Atte.<br>
    Equipo de desarrollo DiTeSI.<br></p><br>
    <md-button class="md-raised md-primary" ng-click='iniciarProceso()' >volver</md-button>
  </div>
</div>
