<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! DNI Inexistente.</h1>
    <p class="parrafoError"> No tenemos registrado a ninguna persona con este dni <b>{{view.dni}}</b>,
        si cree que esto es un error, puede comunicarse con DiTeSI haciendo <a href='#'>clic aquí</a>.<br>
        Atte. Equipo de desarrollo de DiTeSI</p><br>
    <md-button class="md-raised md-primary" ng-click='limpiarError()' >Volver</md-button>
  </div>
</div>
