<div class='contenedor fdc fac'>
  <div class="subContenedor">
    <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! El proceso ha expirado.</h1>
    <p class="parrafoError"> Por razones de seguridad se impone un límite de tiempo razonable para completar el proceso de recuperación y se
    ha superado este tiempo, por lo que debe iniciar el proceso nuevamente.<br>
    Tenga en cuenta que la cantidad de intentos de recuperación se registra, se informa y se evalúa para evitar ataques.<br>
    Por favor repita nuevamente el intento de recuperación de la clave.<br>
    Si desea comunicarse con DiTeSI para reportar un problema <a href='#'>haz clic aquí</a>.<br>
    Atte.<br>
    Equipo de desarrollo de DiTeSI.</p><br>
    <md-button class="md-raised md-primary" ng-click='' >reiniciar proceso</md-button>
  </div>
</div>
