<div class="ingrese_dni fdc fac">
  <div class="subContenedor fdc fac">
      <div class="fdc fac">
          <div>
              <p>¿Haz olvidado tu contraseña?</p>
              <h2>Recuperar contraseña</h2>
          </div>
      </div>
      <div class="fdr fac">
        <div class="linea colorActivo"></div>
        <i class="material-icons colorActivo2">looks_one</i>
        <div class="linea colorDesactivado"></div>
        <i class="material-icons colorDesactivado2">looks_two</i>
        <div class="linea colorDesactivado"></div>
        <i class="material-icons colorDesactivado2">looks_3</i>
        <div class="linea colorDesactivado"></div>
        <i class="material-icons colorDesactivado2">looks_4</i>
        <div class="linea colorDesactivado"></div>
      </div>
      <form class="formulario fdc fac">
        <h4>Ingrese DNI</h4>
        <input class="inputResetClave" ng-model='view.dni' type="text" >
        <md-button class="md-raised md-primary btnSistema" ng-click='obtenerDatosDeUsuario()'>Siguiente</md-button>
      </form>

  </div>
</div>
