<div class='config_correo {{estado}} {{mensaje.mensaje}} {{mensaje.codigo}} {{error.error}} {{error.codigo}}'>

  <!-- EstadoMensajeAlumnos -->

  <div class='pantalla mensaje_alumnos'>
    MENSAJE A ALUMNOS
    Para poder acceder a los sistemas debe tener configurado una cuenta alternativa de contacto.
    A esta cuenta alternativa se enviará información de todos los sistemas de la facultad, Aula Virtual,
    confirmaciones de cambio de clave, listas de información referidas a alumnos, etc.
    Al configurarla ACEPTA recibir la información referida arriba.
    Debe tener en cuenta de que si recibimos informes de que ha marcado como spam el correo arriba recibido, automáticamente se
    desconfigurará la cuenta y perderá acceso a los sistemas hasta que configure nuevamente OTRA cuenta y/o indique que NO es spam el correo recibido
    desde los sistemas de la facultad.
    Atte. bla bla bla bla
    <button ng-click='estadoSiguiente()'>Siguiente</button>
  </div>

  <!-- EstadoMensajeDocentes -->

  <div class='pantalla mensaje_institucional'>
    MENSAJE A PERSONAL DE LA FACULTAD
    Para poder acceder a los sistemas debe tener configurado una cuenta alternativa de contacto.
    Solamente se contactará a esta cuenta para confirmar operaciones que reinicen el acceso a la cuenta institucional.
    Tenga en cuenta que TODAS las notificaciones que realiza la facultad serán dirigidas a la cuenta institucional y NO a esta cuenta
    alternativa de contacto. Por lo que debe leer frecuentemente la cuenta institucional.
    En el caso de recibir informes de que ha marcado como "Correo no Deseado" spam, correo originado de los sistemas de la facultad, se procedera
    a desactivar esta cuenta alternativa en nuestros sistemas y NO se enviará ningún correo adicional desde la facultad.
    Al configurar la cuenta alternativa ACEPTA recibir el correo referido arriba.
    Atte. bla bla bla bla
    <button ng-click='estadoSiguiente()'>Siguiente</button>
  </div>


  <!-- EstadoConfigCorreo  -->

  <div class='pantalla correo'>
    Por favor reingrese su correo de contacto alternativo
    <input type='email' ng-model='view.correo'></input>
    <button ng-click='estadoAnterior()'>Anterior</button>
    <button ng-click='agregarCorreo()'>Siguiente</button>
  </div>

  <div class='pantalla_error error_envio'>
    Se ha producido un error enviando el código de confirmacion.
    por favor reintente. bla bla bla bla
    En el caso de que el error persista, puede contactarse con DiTeSI <a href='#'>aqui</a>
    <button ng-click='estadoAnterior()'>Reintentar</button>
  </div>

  <div class='pantalla_error correo_bloqueado'>
    La cuenta {{view.correo}} se encuentra bloqueada en nuestros sitemas debido a que ha indicado que el correo recibido de alguna de las áreas de
    la facultad es "Correo No Deseado".
    Este proceso nos obliga a no enviar mas correo desde cuentas de la facultad.
    Para poder continuar debe indicar que todo el correo recibido de la facultad NO es "Correo no Deseado" y contactarse
    con DiTeSI <a href='#'>aqui</a>
    Caso contrario la cuenta {{view.correo}} seguirá bloqueada y no se enviará correo desde cuentas institucionales de la facultad.
  </div>


  <!-- EstadoIngreseCodigo -->

  <div class='pantalla codigo'>
    Se ha enviado un código de confirmación a la cuenta. {{view.correo}}
    Por favor ingrese el código recibido
    Recuerde chequear "Correo no Deseado" y en caso de haber llegado a esa carpeta indicar que el correo NO es "Correo no Deseado".
    <input type='text' ng-model='view.codigo'></input>
    <button ng-click='estadoAnterior()'>Anterior</button>
    <button ng-click='verificarCorreo()'>Verificar</button>
  </div>

  <div class='pantalla_error error_codigo'>
    El código {{view.codigo}} es incorrecto.
    Intente nuevamente.
  </div>


  <!-- EstadoOK -->

  <div class='fin'>
    Se ha verificado correctamente la cuenta {{correoPendiente.email}}
    como cuenta de contacto alternativa.
    <button>Finalizar</button>
  </div>


  <!-- errores generales -->

  <div class='pantalla_error sistema_error'>
    Se ha producido un error en el sistema, por favor vuelva a intenreta la operación.
    Si continúa puede comunicar....... <a href='#'>aqui</a>
  </div>

</div>
