
.config_correo > div {
  display: none;
}


.config_correo.EstadoMensajeAlumnos .mensaje_alumnos {
  display: block;
}

.config_correo.EstadoMensajeDocentes .mensaje_institucional {
  display: block;
}

.config_correo.EstadoConfigCorreo .correo {
  display: block;
}

.config_correo.EstadoIngreseCodigo .codigo {
  display: block;
}

.config_correo.EstadoOK .fin {
  display: block;
}



.config_correo.error .pantalla {
  display: none;
}

.config_correo.error.EnvioCodigoError .error_envio {
  display: block;
}

.config_correo.error.CorreoBloqueadoError .correo_bloqueado {
  display: block;
}

.config_correo.error.CodigoIncorrectoError .error_codigo {
  display: block;
}

.config_correo.error.SistemaError .sistema_error {
  display: block;
}
