<div class='pantalla mensaje_alumnos'>
  MENSAJE A ALUMNOS
  Para poder acceder a los sistemas debe tener configurado una cuenta alternativa de contacto.
  A esta cuenta alternativa se enviará información de todos los sistemas de la facultad, Aula Virtual,
  confirmaciones de cambio de clave, listas de información referidas a alumnos, etc.
  Al configurarla ACEPTA recibir la información referida arriba.
  Debe tener en cuenta de que si recibimos informes de que ha marcado como spam el correo arriba recibido, automáticamente se
  desconfigurará la cuenta y perderá acceso a los sistemas hasta que configure nuevamente OTRA cuenta y/o indique que NO es spam el correo recibido
  desde los sistemas de la facultad.
  Atte. bla bla bla bla
  <button ng-click='estadoSiguiente()'>Siguiente</button>
</div>
