
.reset_clave > div {
  display: none;
}

.reset_clave.EstadoIngreseSuDNI .dni {
  display: block;
}

.reset_clave.EstadoAvisoDeEnvio .aviso_de_envio {
  display: block;
}

.reset_clave.EstadoIngreseCodigo .codigo {
  display: block;
}

.reset_clave.EstadoIngreseClave .clave {
  display: block;
}

.reset_clave.EstadoOK .fin {
  display: block;
}

/* errores */

.reset_clave.error .pantalla {
  display: none;
}

.reset_clave.error.TokenExpiradoError .expirado {
  display: block;
}

.reset_clave.error.UsuarioNoEncontradoError .dni_inexistente {
  display: block;
}

.reset_clave.error.SeguridadError .usuario_bloqueado  {
  display: block;
}

.reset_clave.error.NoTieneCuentaAlternativaError .dni_sin_cuenta {
  display: block;
}


.reset_clave.error.LimiteDeEnvioError .limite_de_envio {
  display: block;
}

.reset_clave.error.EnvioCodigoError .error_de_envio {
  display: block;
}

.reset_clave.error.CodigoIncorrectoError .error_de_codigo {
  display: block;
}

.reset_clave.error.LimiteDeVerificacionError .limite_de_verificacion {
  display: block;
}

.reset_clave.error.ClaveError .error_cambio_clave {
  display: block;
}

.reset_clave.error.FormatoDeClaveIncorrectoError .error_formato_de_clave {
  display: block;
}

.reset_clave.error.CorreoBloqueadoError .correo_bloqueado {
  display: block;
}
