
.config_clave > div {
  display: none;
}

.config_clave.error .pantalla {
  display: none;
}

.config_clave.EstadoClaveVencida .clave_vencida {
  display: block;
}

.config_clave.EstadoCambioClave .cambio_clave {
  display: block;
}

.config_clave.EstadoOK .fin {
  display: block;
}

.config_clave.error.FormatoDeClaveIncorrectoError .error_sistema {
  display: block;
}

.config_clave.error.SistemaError .error_sistema {
  display: block;
}
