
.config_clave > div {
  display: none;
}

.config_clave.EstadoClaveVencida .clave_vencida {
  display: block;
}

.config_clave.EstadoCambioClave .cambio_clave {
  display: block;
}

.config_clave.EstadoOK .fin {
  display: block;
}

/*este estilo siempre va a lo ultimo de todas las configs de las pantallas.*/

.config_clave.error .pantalla {
  display: none;
}

.config_clave.error.FormatoDeClaveIncorrectoError .error_sistema {
  display: block;
}

.config_clave.error.SistemaError .error_sistema {
  display: block;
}


.config_clave {
  width: 100%;
  height: calc(100vh - 70px);
}

.config_clave .contenedorCambioDeClave {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.config_clave .btnAcceder {
  width: 100%;
  background-image: -webkit-linear-gradient(top,#0069A6 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#0069A6 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
  background-image: linear-gradient(to bottom,#0069A6 0,#265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.config_clave .btnAcceder:hover {
  background-image: -webkit-linear-gradient(top,#083e66 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#083e66 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#083e66),to(#265a88));
  background-image: linear-gradient(to bottom,#083e66 0,#265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.config_clave .direccionFlex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.config_clave .btnVerClave {
  margin-left: 5px;
  width: 40px;
}

.config_clave .contenedorErrorInterno {
  background-color: #ccc;
  padding: 5px;
  margin-top: 10px;
}

.config_clave .requisitosContrasena {
  font-style: italic;
  font-size: 12px;
  margin-left: 5px;
}

.config_clave .pantalla_error {

}

.config_clave .estiloError {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
}


.config_clave .iconosErrores {
  font-size: 200px;
  color: #c4c4c4;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

.config_clave .btnVolver {
  background-color: #adadad ;
  color: white;
  margin-bottom: 30px;
}
.config_clave .btnVolver:hover {
  background-color: #222222 ;
  color: white;
}
