<div class="contenedor fdc fac fjc">
      <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Cuenta bloqueda.</h1>
      <p>Esa cuenta se encuentra bloqueada en nuestros sitemas debido a que ha indicado que <br>
        el correo recibido de alguna de las áreas de la facultad es "Correo No Deseado"</p>
      <p>Para poder continuar debe indicar que todo el correo recibido de la facultad <br>
        NO es spam y contactarse con DiTeSI <a href='#'>aqui</a></p>
      <button class="btn btnVolver" ng-click='volver()'> Volver</button>
</div>
