<div class='datos_perfil'>

    <h4>PERFIL DE USUARIO</h4><hr>

    <div class="form-group fdr fac">
      <div class="NombreInput">Nombre</div>
      <input type="text" class="inputFormulario form-control" ng-model="model.usuario.nombre" required>
    </div>
    <div class="form-group fdr fac">
      <div class="NombreInput">Apellido</div>
      <input type="text" class="inputFormulario form-control" ng-model="model.usuario.apellido" required>
    </div>
    <div class="form-group fdr fac">
      <div class="NombreInput">DNI</div>
      <input type="text" class="inputFormulario form-control" ng-model="model.usuario.dni" required>
    </div>
    <!-- <div class="form-group fdr fac">
      <div class="NombreInput">Legajo</div>
      <input type="text" class="inputFormulario form-control" ng-model="model.usuario.legajo" value='2806/4' required>
    </div> -->

</div>
