<div class='ingresar_correo_alternativo fdc fac '>
  <div class="subContenedor">
      <h1>Configurar correo alternativo.</h1>
      <p><b>Paso 1 - </b>Por favor ingrese su correo de contacto alternativo</b></p>
      <div class=correo>
        <md-input-container class="md-block">
            <md-icon><i class="material-icons">mail_outline</i></md-icon>
            <input ng-model='view.correo' type="email" placeholder="Correo electrónico" ng-required="false">
        </md-input-container>
      </div>
      <div class="fdr">
        <md-button class="md-raised md-primary" ng-click='agregarCorreo()' >Siguiente</md-button>
        <md-button md-no-ink class="md-primary" ng-click='iniciarProceso()'>Volver</md-button>
      </div>
  </div>
</div>
