<div class='terminos_y_condiciones_alumnos fdc fac'>
  <div class="subContenedor">
  <h1>Configurar correo alternativo.</h1>
  <p>No tienes una cuenta de correo alternatica configurada. <b>¡Debes configurar una!.</b></p>

  <md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h3 class="md-flex">Términos y condiciones</h3>
  </div>
  </md-toolbar>

  <div class=TyC>
    MENSAJE A ALUMNOS
  Para poder acceder a los sistemas debe tener configurado una cuenta alternativa de contacto.
  A esta cuenta alternativa se enviará información de todos los sistemas de la facultad, Aula Virtual,
  confirmaciones de cambio de clave, listas de información referidas a alumnos, etc.
  Al configurarla ACEPTA recibir la información referida arriba.
  Debe tener en cuenta de que si recibimos informes de que ha marcado como spam el correo arriba recibido, automáticamente se
  desconfigurará la cuenta y perderá acceso a los sistemas hasta que configure nuevamente OTRA cuenta y/o indique que NO es spam el correo recibido
  desde los sistemas de la facultad.
  Atte. bla bla bla bla
</div>
  <div class="fdr fac fjb">
    <md-checkbox class="md-warn" ng-model='acepto'>Acepto Términos y condiciones</md-checkbox>
    <md-button class="md-raised md-primary" ng-click='estadoSiguiente()' ng-disabled="!acepto" >Siguiente</md-button>
  </div>


  </div>
</div>
