
<div>
  <div style='background-color:black; color:white'>
    <div>pantalla: {{estilo}}</div>
    <div>error estado: {{error}}</div>
    <div>pantalla error: {{codigo_error}}</div>
  </div>

  <div style='background-color:blue; color:white'>
    Pantalla:
    <button ng-click='pasoAnterior()'>Anterior</button>
    <button ng-click='pasoSiguiente()'>Siguiente</button>
  </div>

  <div style='background-color:red'>
    Errores:
    <input type='checkbox' ng-model='errorc' ng-change='cambiarError()'>error?</input>
    <button ng-click='errorAnterior()'>Error Anterior</button>
    <button ng-click='errorSiguiente()'>Error Siguiente</button>
  </div>
</div>


<div class='reset_clave {{estilo}} {{error}} {{codigo_error}}'>

  <div class='expirado'>
      Por razones de seguridad se impone un límite de tiempo razonable para completar el proceso de recuperación.
      Ha superado este tiempo. Por lo que debe iniciar el proceso nuevamente.
      Tenga en cuenta que la cantidad de intentos de recuperación se registra, se informa y se evalúa para evitar ataques.
      Para iniciar nuevamente el intento de recuperación de la clave por favor acceda al siguiente <a href='#'>enlace</a>
      Si desea comunicarse con DiTeSI para reportar un problema puede hacerlo mediante el siguiente <a href='#'>enlace</a>
      Atte
      Equipo de desarrollo de DiTeSI
  </div>

  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla chequeando'>
      Cheqeuando Precondiciones. Por favor espere
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla mensaje'>
    Vamos a proceder a recuperar la clave de su cuenta
    <button ng-click='pasoSiguiente()'>Siguiente</button>
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla dni'>
    Por favor ingrese su dni (sin puntos, solo números)
    <input type='text' ng-model='view.dni'></input>
    <button ng-click='obtenerDatosDeUsuario()'>Siguiente</button>
  </div>

  <div class='dni_inexistente'>
    No tenemos registrado a ninguna persona con dni {{view.dni}}
    Si cree que esto es un error, puede comunicarse con DiTeSI usando el siguiente <a href='#'>enlace</a>
    Atte Equipo de desarrollo de DiTeSI
    <button ng-click='pasoAnterior()'>Reingresar DNI</button>
  </div>

  <div class='usuario_bloqueado'>
    El dni {{view.dni}} ha sido usado para recuperar la clave demasiadas veces.
    Esto puede ocurrir cuando se sufren ataques sobre las seguridades del sistema.
    Se ha reportado el incidente al equipo de seguridad de la facultad, asi como también se ha enviado un
    informe a la cuenta alternativa de la persona titular de la cuenta.
    Si cree que esto es un error, puede comunicarse con DiTeSI usando el siguiente <a href='#'>enlace</a>
    Atte Equipo de desarrollo de DiTeSI
  </div>

  <div class='dni_sin_cuenta'>
    Estimado {{view.usuario.nombre}} {{view.usuario.apellido}}
    No tenemos registrada ninguna cuenta alternativa de contacto, por lo que es imposible enviar el código de verificación.
    Por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a>
    Atte Equipo de desarrollo de DiTeSI
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla aviso_de_envio'>
    Bienvenido {{view.usuario.nombre}} {{view.usuario.apellido}}
    Vamos a enviar un código de confirmación a su cuenta alternativa de correo,
    antes de completar este paso asegúrese de poder acceder a la cuenta : {{view.usuario.correo.email}}
    Si no puede acceder a su cuenta alternativa de correo por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a> para que podamos ayudarlo a registrar otra cuenta.
    <button ng-click='pasoAnterior()'>Anterior</button>
    <button ng-click='enviarCodigo()'>Siguiente</button>
  </div>

  <div class='limite_de_envio'>
    Ha superado el límite de envíos a {{view.usuario.correo.email}}
    Este incidente ha sido registrado y se ha enviado un reporte al equipo de seguridad de DiTeSI
    así como también un correo a la cuenta {{view.usuario.correo.email}} con un informe del incidente y pasos a seguir.
  </div>

  <div class='error_de_envio'>
    No se pudo enviar el código a la cuenta {{view.usuario.correo.email}}
    Por favor intente nuevamente en unos minutos.
    Si el problema se reitera por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a>
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla codigo'>
    Se ha enviado el código de confirmación a la cuenta {{view.correo}}
    Tenga en cuenta que la recepción del correo puede demorarse algunos minutos.
    Chequee también los correos clasificados como "Correo Basura" o "Spam",
    En el caso de que haya llegado como basura, por favor indique que es correo requerido y NO es basura.
    A continuación ingrese el código recibido
    <input type='text' ng-model='view.codigo'></input>

    <div ng-if='view.codigo == ""'>
      <div ng-if='view.timer > 0'>Tiempo mínimo de espera para reenviar código : {{timer}}</div>
      <button ng-if='view.timer <= 0' ng-click='enviarCodigo()'>Reenviar Código</button>
    </div>
    <button ng-click='verificarCodigo()'>Verificar</button>
  </div>

  <div class='error_de_codigo'>
    El código ingresado es incorrecto!!.
    Chequee nuevamente su cuenta {{view.usuario.correo.email}} y asegúrese de que el código ingresado es el indicado en
    el último correo recibido.
    Tenga en cuenta que tendrá tantos correos como intentos de recuperar su clave.
    Recuerde verificar también los correos clasificados como "Correo Basura" o "Spam"
    Si el problema se reitera por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a>
    <button ng-click='pasoAnterior()'>Anterior</button>
  </div>

  <div class='limite_de_verificacion'>
    Ha superado el límite de intentos de verificación.
    Este incidente ha sido registrado y se ha enviado un reporte al equipo de seguridad de DiTeSI
    así como también un correo a la cuenta {{view.usuario.correo.email}} con un informe del incidente y pasos a seguir.
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla clave'>
    Verificación Exitosa.
    Por favor ingrese una clave nueva.
    El formato de clave aceptada es :
    - mayor o igual a 8 caracteres
    - al menos un dígito
    - debe comenzar con una letra

    <div>
      Clave Nueva
      <input type='{{view.tipo}}' ng-model='view.clave1'></input>
      <button ng-click='cambiarTipo()'>
        <div ng-if='view.tipo == "password"'>ver</div>
        <div ng-if='view.tipo == "text"'>ocultar</div>
      </button>
      <div ng-if='view.clave1 != view.clave2' class='error'>Claves no son iguales</div>
    </div>
    <div>
      Reingresar Clave Nueva
      <input type='{{view.tipo}}' ng-model='view.clave2'></input>
      <div ng-if='view.clave1 != view.clave2' class='error'>Claves no son iguales</div>
    </div>
    <button ng-click='cambiarClave()'>Siguiente</button>
  </div>

  <div class='error_cambio_clave'>
    Ocurrió un problema cambiando su clave.
    El incidente se ha registrado y se ha informado al equipo de desarrollo de DiTeSI.
    Si desea puede realizar nuevamente el proceso accediendo a <a href='#'>reintentar proceso</a>
    Si el problema se reitera por favor comuníquese con DiTeSI usando el siguiente <a href='#'>enlace</a>
    Atte
    Equipo de desarrollo DiTeSI
  </div>


  <!-- --------------------- paso ---------------------- -->


  <div class='pantalla fin'>
    Se ha registrado con éxito el cambio de contraseña.
    Recuerde cambiarla en todos los dispositivos que utilice. Por ejemplo clientes de correo como outlook, datos de conexión en el celular, etc
    No olvide mantener actualizado sus datos <a href='#'>aquí</a> ya que serán requeridos por distintas áreas de la facultad.
    Si tiene alguna consulta puede comunicarse con DiTeSI mediante el siguiente <a href='#'>enlace</a>
    Gracias por utilizar nuestros servicios.
    Atte
    Equipo de desarrollo DiTeSI
  </div>


</div>
