
.reset_clave > div {
  display: none;
}

.reset_clave.expirado .expirado {
  display: block;
}

.reset_clave.paso1 .chequeando  {
  display: block;
}

.reset_clave.paso2 .mensaje  {
  display: block;
}

.reset_clave.paso3 .dni {
  display: block;
}

.reset_clave.error.pantalla {
  display: none;
}

.reset_clave.paso3.error1 .dni_inexistente {
  display: block;
}

.reset_clave.paso3.error2 .usuario_bloqueado  {
  display: block;
}

.reset_clave.paso3.error3 .dni_sin_cuenta {
  display: block;
}

.reset_clave.paso4 .aviso_de_envio {
  display: block;
}

.reset_clave.paso4.error1 .limite_de_envio {
  display: block;
}

.reset_clave.paso4.error2 .error_de_envio {
  display: block;
}

.reset_clave.paso5 .codigo {
  display: block;
}

.reset_clave.paso5.error1 .error_de_codigo {
  display: block;
}

.reset_clave.paso5.error2 .limite_de_verificacion {
  display: block;
}


.reset_clave.paso6 .clave {
  display: block;
}

.reset_clave.paso6.error1 .error_cambio_clave {
  display: block;
}

.reset_clave.paso6 .fin {
  display: block;
}
