
.reset_clave > div {
  display: none;
}

.reset_clave.expirado .expirado {
  display: block;
}

.reset_clave.paso1 .chequeando  {
  display: block;
}

.reset_clave.paso2 .mensaje  {
  display: block;
}

.reset_clave.paso3 .dni {
  display: block;
}

.reset_clave.paso3.error.error1 .dni_inexistente {
  display: block;
}

.reset_clave.paso3.error.error2 .usuario_bloqueado  {
  display: block;
}

.reset_clave.paso3.error.error3 .dni_sin_cuenta {
  display: block;
}

.reset_clave.paso4 .aviso_de_envio {
  display: block;
}

.reset_clave.paso4.error.error1 .limite_de_envio {
  display: block;
}

.reset_clave.paso4.error.error2 .error_de_envio {
  display: block;
}

.reset_clave.paso5 .codigo {
  display: block;
}

.reset_clave.paso5.error.error1 .error_de_codigo {
  display: block;
}

.reset_clave.paso5.error.error2 .limite_de_verificacion {
  display: block;
}


.reset_clave.paso6 .clave {
  display: block;
}

.reset_clave.paso6.error.error1 .error_cambio_clave {
  display: block;
}

.reset_clave.paso7 .fin {
  display: block;
}

.reset_clave.error .pantalla {
  display: none;
}
